.hero-container {
  height: 511px;
  width: 1475.913818359375px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 132px;
  position: relative;
}

.hero-title {
  width: 1075px;
  height: 308px;
  margin: 0 auto;
  margin-top: 130px;
  position: relative;
}

.bubble {
  width: 214px;
  height: 214px;
  display: inline;
  position: absolute;
  top: -100px;
  left: 70px;
}

.gun {
  height: 331px;
  width: 318px;
  display: inline !important;
  position: absolute;
  right: 0;
  bottom: 115px;
}
.portal {
  height: 145px;
  width: 225px;
  position: absolute;
  left: 285px;
  top: -46px;
}
.topBar {
  position: absolute;
  right: 24px;
  width: 50px;
  height: 10px;
  top: -25px;
}
.hero-footer {
  display: flex;
  justify-content: center;
}
.btn-hero {
  display: inline-block;
  width: 203px;
  height: 58px;
  /* padding: 0.5rem 0; */
  background: linear-gradient(99.46deg, #9dfe00 -10.9%, #14d9e6 97.14%);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  color: white;
  /* font-size: 1.1rem; */
}

.hero-description {
  /* position: absolute; */
  width: 364px;
  height: 51px;
  /* left: 894px;
  top: 590px; */

  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #14d9e6;
  margin-left: 64px;
}
/* ********************
Responsive design for mobile 
***************/
@media (max-width: 992px) {
  .hero-container {
    height: 248px;
    width: 436px;
    margin-top: 0;
  }
  .hero-title {
    height: 96px;
    width: 328px;
    margin-top: 10px;
  }
  .hero-title-img {
    height: 96px;
    width: 328px;
  }
  .bubble {
    height: 52px;
    width: 52.5px;
    left: 26px;
    top: -30px;
  }
  .portal {
    height: 44px;
    width: 68.6px;
    left: 95px;
    top: -10px;
  }
  .gun {
    height: 119px;
    width: 66px;
    right: -10px;
  }
  .topBar {
    display: none;
  }
  .hero-footer {
    /* flex-direction: column; */
    display: block;
  }
  .hero-description {
    /* order: 1; */
    height: 36px;
    width: 260px;
    font-family: TT Travels;
    font-size: 10px;
    /* font-weight: 600; */
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    /* width: 260px;
height: 36px; */
    color: #14d9e6;
    margin-top: 18px;
  }
  .btn-hero {
    /* order: 2; */
    /* 
    height: 35.815670013427734px;
width: 125.3548355102539px;
left: 21px;
top: 305.2105712890625px;
border-radius: 61.75115203857422px;
padding: 10px 15px 10px 15px;

    */
    height: 35.815670013427734px;
    width: 125.3548355102539px;
    margin-top: 21px;
    border-radius: 61.75115203857422px;
    padding: 10px 15px 10px 15px;
    font-size: 0.9rem;
    /* margin-top: 1rem; */
    margin-left: 60px;
    display: inline-block;
    font-family: TT Travels;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
}
