/* 
background: radial-gradient(35.56% 83.6% at 50% 50%, rgba(217, 217, 217, 0) 0%, rgba(25, 29, 41, 0.9) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected 
*/

.cast-details-container {
  background: radial-gradient(
      35.56% 83.6% at 50% 50%,
      rgba(217, 217, 217, 0) 0%,
      rgba(6, 14, 37, 0.9) 100%
    ),
    url('./asset//cast-details-bg.png'), url('./asset/Texture.png');
  min-height: 1397px;
  max-width: 1920px;
  margin: 0 auto;
  /* position: relative; */
  padding-top: 2rem;
}
.cast-details {
  display: grid;
  grid-template-columns: 45% 5% 45%;
}

.cast-details-img-container {
  position: relative;
  top: 20rem;
  left: 10rem;
  width: 350px;
  height: 350px;
}
.cast-details-img {
  padding: 1rem;
  border: 1px solid rgb(33, 235, 22);
}
.cast-image-name {
  font-size: 2.3rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  color: #14d9e5;
}
/* End of the img container section  */
.mid-line {
  height: 40%;
  width: 2px;
  background-color: rgb(33, 235, 22);
  position: absolute;
  /* top: 50%; */
  position: relative;
  top: 20rem;
  right: 6rem;
}

.details-info {
  padding: 1rem;
  margin-top: 7rem;
}
.primary-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-info {
  width: 240px;
  height: 174px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(33, 235, 22);
  width: 28%;
  padding: 0 1rem;
  background-color: rgba(69, 113, 72, 0.2);
}
.primary-img {
  width: 48px;
  height: 48px;
  margin-bottom: 1rem;
}
.primary-info p {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
  color: white;
}
.primary-info h2 {
  font-size: 2rem;
  color: white;
  letter-spacing: 1px;
}

.origin-container {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  margin-top: 2rem;
  color: white;
  border: 2px solid rgb(33, 235, 22);
  padding: 1rem;
  position: relative;
  background-color: rgba(69, 113, 72, 0.2);
}
.origin-icon {
  font-size: 2rem;
  color: white;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.cast-origin-location-name {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bolder;
}
.details-episodes-container {
  border: 1px solid rgb(33, 235, 22);
  margin-top: 2rem;
  height: 350px;
  overflow: auto;
  padding: 1rem;
  background-color: rgba(69, 113, 72, 0.2);
}
.episode-container {
  margin-top: 1rem;
}
.episodes-details-container {
  /* height: 500px; */
  /* padding: 1rem ; */
}
.details-episode-list-container {
  /* background-color: lightblue; */
  width: 100%;

  padding: 1rem;
  /* margin-left: 2rem; */
  padding-left: 2rem;
}
.details-episode-list {
  margin-left: 2.5rem;
  font-size: 2.5rem;
  color: white;
  font-weight: bolder;
}
/* ********************
Responsive design for mobile 
************* */
@media screen and (max-width: 768px) {
  .cast-details-container {
    width: 95%;
    margin: 0 auto;
    position: static;
  }
  .cast-details {
    display: block;
    position: static;
  }
  .mid-line {
    display: none;
  }
  .cast-details-img-container {
    position: static;
    margin: 0 auto;
  }
  .details-info {
    position: static;
    margin-top: 6rem;
  }
  .primary-info {
    width: 28%;
    height: 150px;
    background-color: rgba(69, 113, 72, 0.2);
  }
  .primary-info p {
    font-size: 1rem;
    margin-bottom: 4px;
  }
  .primary-info img {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
  }
  .primary-info h2 {
    font-size: 1.3rem;
  }
  .cast-origin-location-name {
    font-size: 1.5rem;
    margin-top: 5px;
  }
  .details-episodes-container {
    height: 250px;
  }
  .details-episode-list {
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 0;
  }
}
/* ********************
End of the Responsive design for mobile 
************* */
