.cast-details-container {
  background: radial-gradient(
      35.56% 83.6% at 50% 50%,
      rgba(217, 217, 217, 0) 0%,
      rgba(6, 14, 37, 0.9) 100%
    ),
    url('./asset//cast-details-bg.png'), url('./asset/Texture.png');
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem 0;
}

.img-name-cast-details-container{
  margin: 0 auto;
  width: 350px;
  height: 350px;
}
.cast-details-img {
  padding: 1rem;
  border: 1px solid rgba(33, 235, 22, 0.5);
}
.cast-image-name {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  color: #14d9e5;
  text-align: center;
}
/* End of the img container section  */
.primary-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(33, 235, 22, 0.5);
  width: 28%;
  padding: 1.3rem 1rem;
  background-color: rgba(69, 113, 72, 0.2);
}
.primary-img {
  width: 48px;
  height: 48px;
  margin-bottom: 0.4rem;
}
.primary-info p {
  font-size: 1rem;
  margin-bottom: 0.4rem;
  color: white;
}
.primary-info h2 {
  font-size: 1.5rem;
  color: white;
  letter-spacing: 1px;
}

.origin-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  color: white;
  border: 2px solid rgba(33, 235, 22, 0.5);
  padding: 1rem;
  position: relative;
  background-color: rgba(69, 113, 72, 0.2);
}
.origin-icon {
  font-size: 2rem;
  color: white;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.origin-info h3, .location-info h3{
  margin: 0.3rem 0;
}
.cast-origin-location-name {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bolder;
}
.details-episodes-container {
  border: 1px solid rgba(33, 235, 22, 0.5);
  margin-top: 2rem;
  height: 250px;
  overflow: auto;
  padding: 1rem;
  background-color: rgba(69, 113, 72, 0.2);
}
/* .episode-container {
  margin-top: 1rem;
} */
.episodes-details-container {
  height: 500px;
  padding: 1rem ;
}
.episode-name-details{
  color: white;
  letter-spacing: 1px;
}
.details-episode-list {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: white;
}
/* ********************
Responsive design for tablet devices 
************* */
@media (min-width: 993px) {
  .cast-details {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin-top: 2rem !important;
}
.cast-details-img-container{
  width: 30%;
}
.cast-image-name{
  font-size: 1.7rem;
}

.details-info{
  width: 55%;
}
.mid-line { 
    width: 1px;
    height: 450px;
    background-color: rgba(33, 235, 22, 0.6); 

  }

}
/* ********************
End of the Responsive design for tablet devices 
************* */
/* ********************
Responsive design for mobile 
************* */
@media screen and (max-width: 992px) {
  .cast-details-container {
    width: 95%;
    min-height: 1397px;
    position: static;
    /* background-color: yellow; */
    margin-top: 1rem;
    display: block;
  }
  .cast-image-name{
    font-size: 1.5rem;
  }
  .cast-details {
    margin-top: 4rem;
  }
  .mid-line {
    display: none;
  }
  .cast-details-img-container {
    
    margin: 0 auto;
    width: 350px;
    height: 350px;
  }
  .details-info {
    margin-top: 6rem;
  }
  .primary-info {
    width: 28%;
    height: 150px;
    background-color: rgba(69, 113, 72, 0.2);
  }
  .primary-info p {
    font-size: 1rem;
    margin-bottom: 4px;
  }
  .primary-info img {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
  }
  .primary-info h2 {
    font-size: 1.3rem;
  }
  .cast-origin-location-name {
    font-size: 1.5rem;
    margin-top: 5px;
  }
  .details-episodes-container {
    height: 300px;
  }
  .details-episode-list {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 0;
  }
}
/* ********************
End of the Responsive design for mobile 
************* */
