.all-cast-container {
  background-image: linear-gradient(
      rgba(15, 12, 41, 0.9),
      rgba(36, 36, 62, 0.9)
    ),
    url('./Cast-img/cast-bg.png');
  min-height: 1511px;
  max-width: 1920px;
  background-size: cover;
  margin-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.all-casts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}
.all-cast-title {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #14d9e5;
  font-weight: bolder;
}
.cast-star-one {
  position: absolute;
  top: 35%;
}
.cast-star-two {
  position: absolute;
  bottom: 25%;
  right: 0;
}
.cast-star-three {
  position: absolute;
  bottom: 0.7rem;
  left: 50%;
}

@media screen and (max-width: 768px) {
  .all-cast-container {
    position: static;
    width: 95%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .all-casts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

