.home-container {
  background-image: linear-gradient(
      rgba(15, 12, 41, 0.9),
      rgba(36, 36, 62, 0.9)
    ),
    url('./HomeAsset/img/homebg/Нero-main-bg.png');
   /* min-height: 1397px; */
  max-width: 1920px;
  min-height: 1117px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 1rem 0;
  padding-bottom: 2rem;
  position: relative;
}
.star-one{
  position: absolute;
  right: 0;

}
.star-two{
  position: absolute;
  /* left: 50%; */
  top: 85%;

}
.star-three{
  position: absolute;
  /* right: 0; */
  /* top: 4rem; */
  left: 50%;

}

/* **************
 rgba(15, 12, 41, 0.8),
  rgba(36, 36, 62, 0.8)

**************************/
