.home-container {
  background-image: linear-gradient(
      rgba(15, 12, 41, 0.9),
      rgba(36, 36, 62, 0.9)
    ),
    url('./HomeAsset/img/homebg/Нero-main-bg.png');
  min-height: 1117px;
  background-size: cover;
  background-repeat: no-repeat;
}
.spiral-container{
}

/* **************
 rgba(15, 12, 41, 0.8),
  rgba(36, 36, 62, 0.8)

**************************/
