.episode {
  /* width: 23%; */
  width: 360px;
  height: 96px;
  border: 1px solid hsl(183, 84%, 49%);
  /* text-align: center; */
  color: white;
  /* padding: 1.5rem 1rem; */
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
.episode-info{
  /* margin: auto 0; */
  padding-left: 1rem;
}
.episode:first-child{
  margin-left: 0;
}
.section-title {
  color: white;
  font-size: 20px;
  font-weight: 500;
  /* letter-spacing: 1px; */
  margin-bottom: 0.8rem;
}
.episode-text {
  font-size: 1rem;
  /* letter-spacing: 1px; */
}

@media screen and (max-width : 768px) {
  .episode{
    width: 45%;
    margin-left: 0;
  }
  
}
