.cast-container {
  
  width: 18%;
  border: 0.76px solid rgba(132, 247, 41, 0.5);
  
  border-radius: 0.4rem 0.4rem 3rem 0.4rem;
  
  padding: 1rem;
  
margin-left: 2.5rem;

}
.cast-container:first-child{
  margin-left: 0;
}

  

/* 
border: 0.76px solid;

border-image-source: linear-gradient(331.82deg, rgba(132, 247, 41, 0.7) -5.31%, rgba(21, 191, 253, 0.7) 91.15%);


*/
.img-container {
  width: 100%;
}
.cast-img {
  width: 100%;

}
.cast-name {
  font: 2rem;
  color: white;
  margin-top: 0.5rem;
  font-weight: 500;
}
@media screen and (max-width : 768px) {
  .cast-container{
    width: 45%;
    margin-left: 0;
  }
  
}
