.cast-container {
  /* width: 18%; */
  border: 0.76px solid rgba(132, 247, 41, 0.5);

  border-radius: 0.4rem 0.4rem 3rem 0.4rem;

  /* padding: 1rem; */
  width: 280px;
  height: 296px;

  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cast-container:first-child {
  margin-left: 0;
}

/* 
border: 0.76px solid;

border-image-source: linear-gradient(331.82deg, rgba(132, 247, 41, 0.7) -5.31%, rgba(21, 191, 253, 0.7) 91.15%);


*/
.img-container {
  /* width: 290px;
  height: 296px; */
  padding: 1rem;
  /* height: 256px;
  width: 258px; */
}
.cast-img {
  height: 236px;
  width: 248px;
  border-radius: 4px;
}
.cast-name {
  font: 1rem;
  color: white;
  margin-top: 6px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .cast-container {
    
    margin-left: 1rem;
    
    height: 170px;
    width: 160px;
  }
  .img-container {
    
    border-radius: 5.597252368927002px;
    border: 0.76px solid;

    border-image: linear-gradient(
      331.82deg,
      rgba(132, 247, 41, 0.7) -5.31%,
      rgba(21, 191, 253, 0.7) 91.15%
    );
    padding: 1rem;
  }
  .cast-img {
    height: 118.08108520507812px;
    width: 119.41216278076172px;
    
  }
  .cast-name {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    line-height: 7px;
    letter-spacing: 0em;
    text-align: left;
  }
}
