.episodes-container{
 position: relative;
}
.all-episodes {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.episode-prev{
  top: 60%;
  left: -1.5rem !important;
}
.episode-next{
  bottom: 20% !important;
}