.location-container{
 position: relative;
}
.locations{
 display: flex; 
 align-items: center;
 justify-content: flex-start;

}
.location{
 width: 360px;
  height: 96px;
 border: 1px solid rgba(88, 227, 50, 0.6);
  /* padding: 1.5rem 1rem; */
  color: white;
  /* margin-left: 2rem; */
  display: flex;
  align-items: center;
 margin-left: 1rem;
 /* margin: auto; */
}
.location:first-child{
  margin-left: 0;
}
.location-info{
  padding-left: 1rem;
}
.location-id{
 font-size: 1rem;
}
.location-name{
 font-size: 1.3rem ;
}
.location-prev{
 /* left: -1.5rem; */
 left: -14px;
 width : 25px;
 height : 25px; 
 top: 50%;
}
.location-next{
 bottom: 30%;
 width : 25px;
 height : 25px ; 
 right: -14px;
}

@media screen and (max-width : 768px) {
  .casts-web-devices{
    display: none;
  }
  .mobile-cast-wrapper{
    display: block;
  }
  .locations{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .location{
   width: 45%;
   margin-left: 0;
  }

  .btn-cast{
   padding: 0.3rem;
  }
  
 }
