.location-container{
 position: relative;
}
.locations{
 display: flex; 
 align-items: center;
 justify-content: flex-start;

}
.location{
 width: 23%;
 border: 1px solid rgb(88, 227, 50);
  padding: 1.5rem 1rem;
  color: white;
  margin-left: 2.5rem;

 /* margin: auto; */
}
.location:first-child{
 margin-left: 0;
}
.location-id{
 font-size: 1.3rem;
}
.location-name{
 font-size: 1.5rem ;
}
.location-prev{
 left: -1.5rem !important;
}
.location-next{
 bottom: 20% !important;
}

@media screen and (max-width : 768px) {
  .casts-web-devices{
    display: none;
  }
  .mobile-cast-wrapper{
    display: block;
  }
  .locations{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .location{
   width: 45%;
   margin-left: 0;
  }

  .btn-cast{
   padding: 0.3rem;
  }
  
 }
