@font-face {
  font-family: TTTravels;
  font-weight: normal;
  src: local('TTTravels-Regular') url('./fonts/TTTravels-Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: TTTravels;
  font-weight: bold;
  src: local('TTTravels-Bold') url('./fonts/TTTravels-Bold.ttf')
    format('truetype');
}
@font-face {
  font-family: TTTravels;
  font-weight: bolder;
  src: local('TTTravels-ExtraBold') url('./fonts/TTTravels-ExtraBold.ttf')
    format('truetype');
}
@font-face {
  font-family: TTTravels;
  font-weight: 400;
  src: local('TTTravels-Medium') url('./fonts/TTTravels-Medium.ttf')
    format('truetype');
}
@font-face {
  font-family: TTTravels;
  font-weight: 800;
  src: local('TTTravels-Italic') url('./fonts/TTTravels-Italic.ttf')
    format('truetype');
  font-style: italic;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: TTTravels-Regular;
}

/*
=============== 
Variables
===============
*/

:root {
  /* primary or main colors  */
  --clr-primary-1: #191d29;
  --clr-primary-2: #9dfe00;
  --clr-primary-3: #14d9e5;
}

@media screen and (min-width: 568px) {
  h1 {
    font-size: 128px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
}

@media screen and (max-width: 567px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 12px;
  }
  h5 {
    font-size: 10px;
  }
  h6 {
    font-size: 8px;
  }
}

/* *************
Global Styles .........
*****************/
img {
  display: inline-block;
}
ul {
  list-style: none;
}
