@font-face {
  font-family: TTTravels;
  font-weight: normal;
  src: local('TTTravels-Regular') url('./fonts/TTTravels-Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: TTTravels;
  font-weight: bold;
  src: local('TTTravels-Regular') url('./fonts/TTTravels-Bold.ttf')
    format('truetype');
}
@font-face {
  font-family: TTTravels;
  font-weight: bolder;
  src: local('TTTravels-Regular') url('./fonts/TTTravels-ExtraBold.ttf')
    format('truetype');
}
@font-face {
  font-family: TTTravels;
  font-weight: 400;
  src: local('TTTravels-Regular') url('./fonts/TTTravels-Medium.ttf')
    format('truetype');
}
